.mid-screen-gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .carousel-main {
    width: 100%;

    .carousel-cell {
      width: 100%;
      margin-bottom: 15px;

      &:before {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .product-info-container {
    position: sticky;
    top: 56px; // same height as nav-bar
    align-self: flex-start;
  }
}
