service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{productId}/variants/{variantId}/sizes/{sizeId} {
      allow update: if request.resource.data.inventory >= 0;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}

