.product-select {
  .product-metadata {
    margin-bottom: 35px;

    .product-name {
      margin-top: 2px;
      margin-bottom: 6px;
    }

    .product-price {
      margin-top: 2px;
      margin-bottom: 6px;
    }
  }

  .product-order-form {
    margin-bottom: 15px;

    .size-chart-click-wrapper {
      text-align: right;
      margin-bottom: 10px;

      .size-chart-click {
        display: inline-block;
        padding-bottom: 2px;
        border-bottom: 1px solid transparent;
      }
    }
    .size-select-button-wrapper {
      width: 100%;
    }
  }

  .sold-out-button-wrapper {
    margin-bottom: 25px;

    .sold-out-button {
      width: 100%;
      height: 35px;
      text-align: center;
      background-color: #a4a4a4;
      color: white;
      border: none;
    }

    margin-bottom: 25px;
  }

  .checkout-link-wrapper {
    margin-bottom: 25px;

    .checkout-button {
      font-family: 'HK Grotesk';
      width: 100%;
      height: 35px;
      text-align: center;
      background-color: #212121;
      color: white;
      margin-bottom: 10px;

      &:hover {
        cursor: pointer;
        background-color: #464646;
      }
    }

    .checkout-notice {
      text-decoration: underline;
    }
  }

  .buy-button {
    font-family: 'HK Grotesk';

    width: 100%;
    height: 35px;
    text-align: center;
    background-color: #212121;
    color: white;

    margin-bottom: 25px;

    &:hover {
      cursor: pointer;
      background-color: #464646;
    }
  }
}
