.size-chart-drawer-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0);
  opacity: 0;
  visibility: hidden;

  transition:
    background-color 0.5s ease,
    visibility 0.5s ease;

  &.open {
    opacity: 0.3;
    visibility: visible;
  }
}

// .size-chart-drawer-container {
//   position: fixed;
//   top: 0;
//   right: 0;
//   width: 100vw;
//   height: 100vh;
//   z-index: 20;
//   display: flex;
//   justify-content: end;

.size-chart-drawer {
  position: fixed;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  background-color: white;
  padding-top: 72px;
  z-index: 30;

  display: flex;
  flex-direction: column;

  transition:
    right 0.5s ease,
    opacity 0.5s ease;

  &.open {
    right: 0;
  }

  .close-button-wrapper {
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    height: 72px;
    background-color: white;
    display: flex;
    justify-content: end;

    transition:
      right 0.5s ease,
      opacity 0.5s ease;

    &.open {
      right: 0;
      visibility: visible;
    }

    .close-button {
      padding: 30px;
    }
  }

  .drawer-content-wrapper {
    padding-top: 24px;
    padding-right: 11%;
    padding-left: 11%;

    font-size: 14px;

    .size-chart-wrapper {
      .size-chart-name {
        padding-bottom: 18px;
      }
    }
  }
}
// }
