.shopping-bag-contents {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  .column-spacer {
    width: calc(100%);
    margin-right: 5px;
  }

  .shopping-bag-item-list-wrapper {
    width: calc(1200%);

    .shopping-bag-page-name {
      margin-top: 20px;
    }

    .shopping-bag-item-list {
      margin-top: 10px;
      border-top: 1px solid rgb(170, 170, 170);
    }
  }

  .shopping-bag-sidebar {
    width: 320px;
    flex: 0 0 auto;
    margin-top: 20px;

    .order-total {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 7px;

      .order-total-text {
        padding-top: 1px;
      }
    }

    .shipping-cost-warning {
      padding-bottom: 16px;
    }

    .checkout-button {
      text-align: center;
      width: 100%;
    }
  }
}

@media (max-width: 1023px) {
  .shopping-bag-contents {
    .left-column {
      width: 0;
    }
  }
}

@media (max-width: 767px) {
  .shopping-bag-contents {
    flex-direction: column-reverse;

    .shopping-bag-item-list-wrapper {
      width: 100%;
    }

    .shopping-bag-sidebar {
      width: 100%;
      margin: 15px 0 0 0;
    }
  }
}
