.loader {
  font-family: 'HK Grotesk', sans-serif; /* Ensure this font is loaded in your project */
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Center the loader vertically and horizontally */
}

.loader span {
  display: inline-block;
  animation: fadeDots 1.5s infinite;
}

/* Optional: Add a fade-in and fade-out effect to the dots */
@keyframes fadeDots {
  0%,
  20% {
    opacity: 0.2;
  }
  40%,
  100% {
    opacity: 1;
  }
}
