.loader {
  font-family: 'HK Grotesk', sans-serif; /* Ensure this font is loaded in your project */
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Center the loader vertically and horizontally */
}

.loader span {
  display: inline-block;
}
