.size-select-buttons-wrapper {
  .size-select-buttons {
    display: flex;
    flex-direction: row;

    .size-option {
      font-family: 'HK Grotesk';
      font-size: 12px;
      height: 40px;
      width: 40px;
      border: 1px solid #7878784d;
      background-color: white;
      margin-right: 12px;
      color: black;

      &:hover {
        cursor: pointer;
      }

      &.selected {
        border: 1px solid #787878;
      }

      &.sold-out {
        color: #a4a4a4;
      }
    }
  }
}
