.product-details {
  width: 100%;

  font-family: 'HK Grotesk';
  font-size: 13px;

  .product-gallery-and-info-wrapper {
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 65px;

    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1007px) {
  .product-details {
    flex-direction: column;
  }
}
