.SNS-icon {
  padding-left: 15px;
  line-height: 0;
  font-size: 0;

  .icon-link {
    display: inline-block;
    text-decoration: none;
    line-height: 0;
    font-size: 0;

    .icon-img {
      height: 22px;
      display: block;
    }
  }
}

@media (max-width: 767px) {
  .SNS-icon {
    padding-left: 0;
    padding-right: 15px;
  }
}
