.product-gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .carousel-nav-wrapper {
    position: sticky; // Keep it fixed within the viewport
    top: 0; // Stick it to the top of the viewport
    align-self: flex-start;
    .carousel-nav {
      width: 68px;
      margin-left: 150px;
      // transform: rotate(90deg) translate(30px, -100%);
      // transform-origin: left top;

      .carousel-cell-wrapper {
        margin-bottom: 18px;
        border: 1px solid transparent;

        &.selected-nav {
          border-color: black;
        }

        .carousel-cell {
          width: 100%;
          height: 100%;

          &:before {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .carousel-main {
    width: 100%;
    max-width: 650px;
    padding-left: 60px;

    .carousel-cell {
      width: 100%;
      height: 100%;
      margin-bottom: 15px;

      &:before {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
