.loading-product {
  display: flex;
  flex-direction: column;

  font-family: 'HK Grotesk';

  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 60px;

  .loading-product-image-content {
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;

    .loading-product-img-wrapper {
      width: 100%;
      aspect-ratio: 2 / 3;
      overflow: hidden;

      .loading-product-img {
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }

  .loading-product-img-wrapper:hover
    + .loading-product-info
    .loading-product-name {
    text-decoration: underline;
  }

  .loading-product-info {
    color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .loading-product-name {
      margin-top: 7px;
      margin-right: 20%;
      margin-bottom: 7px;
      font-size: 13px;
    }

    .loading-product-price {
      flex: none;
      margin-top: 8px;
      font-size: 13px;
    }
  }
}

@media (max-width: 1139px) {
  .loading-product {
    padding-left: 24px;
    padding-right: 0px;
    margin-bottom: 50px;

    width: calc((100vw - 132px) / 4);
  }
}

@media (max-width: 1007px) {
  .loading-product {
    width: calc((100vw - 48px) / 3);

    .loading-product-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .loading-product-name {
        margin-right: 0;
        text-align: center;
      }

      .loading-product-price {
        margin-top: 0px;
      }
    }
  }
}

@media (max-width: 640px) {
  .loading-product {
    padding-left: 10px;
    margin-bottom: 35px;

    width: calc((100vw - 14px) / 2);
  }
}
