.footer {
  .footer-contents-wrapper {
    margin: 0 max(20px, 2.5vw);
    padding: 20px 0;

    .footer-contents {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .footer-text-left {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .footer-icons-right {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    .footer-contents-wrapper {
      .footer-contents {
        flex-direction: column-reverse;

        .footer-icons-right {
          width: 100%;
          margin: 24px;
        }
      }
    }
  }
}
