.product-info-wrapper {
  margin-left: 60px;
  margin-top: 20px;

  .product-info {
    width: 300px;
    margin-right: 50px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;

    .product-details-list-wrapper {
      margin-top: 28px;
      .product-details-toggle {
        display: inline-block;
        cursor: pointer;
        display: flex;
        flex-direction: row;

        .text {
          padding-right: 5px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .product-care-wrapper {
      margin-top: 28px;

      .product-care-toggle {
        display: inline-block;
        cursor: pointer;
        display: flex;
        flex-direction: row;

        .text {
          padding-right: 5px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: 1007px) {
  .product-info-wrapper {
    margin: 20px 0 0 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 100vw;

    .product-info {
      width: 500px;
      margin: 0 auto;
      padding: 0;

      .product-metadata {
        margin-bottom: 20px;
        .product-name {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .product-info-wrapper {
    .product-info {
      width: 100%;

      .product-metadata {
        .product-name {
          text-align: left;
        }
      }
    }
  }
}
