.product-info-wrapper {
  margin-left: 60px;
  margin-top: 20px;

  .product-info {
    width: 300px;
    margin-right: 50px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;

    .product-metadata {
      margin-bottom: 40px;

      .product-name {
        margin-top: 2px;
        margin-bottom: 6px;
      }

      .product-price {
        margin-top: 2px;
        margin-bottom: 6px;
      }
    }
    .product-order-form {
      margin-bottom: 15px;

      .size-guide-wrapper {
        margin-bottom: 10px;

        .size-guide {
          display: inline-block;
          padding-bottom: 2px;
          border-bottom: 1px solid transparent;
        }
      }
      .size-select-button-wrapper {
      }
    }
    .buy-button {
      width: 100%;
      height: 35px;
      text-align: center;
      background-color: rgb(33, 33, 33);
      color: white;

      margin-bottom: 25px;

      &:hover {
        background-color: rgb(70, 70, 70);
      }
    }

    .product-details-list-wrapper {
      margin-top: 28px;
      .product-details-toggle {
        display: inline-block;
        cursor: pointer;
      }
    }

    .product-care-wrapper {
      margin-top: 28px;

      .product-care-toggle {
        display: inline-block;
        cursor: pointer;
      }
    }
  }
}
