.size-chart-drawer-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  visibility: hidden;
  z-index: 20;

  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;

  &.open {
    opacity: 0.1;
    visibility: visible;
  }
}

.size-chart-drawer {
  position: fixed;
  top: 0;
  right: -50%;
  width: 50%;
  max-width: 630px;
  height: 100%;
  background-color: white;
  padding-top: 128px;
  z-index: 30;

  display: flex;
  flex-direction: column;

  transition:
    right 0.2s ease,
    opacity 0.2s ease;

  &.open {
    right: 0;
  }

  .close-button-wrapper {
    position: fixed;
    top: 56px;
    right: -50%;
    width: 50%;
    max-width: 630px;
    height: 72px;
    background-color: white;
    display: flex;
    justify-content: end;

    transition:
      right 0.2s ease,
      opacity 0.2s ease;

    &.open {
      right: 0;
      visibility: visible;
    }

    .close-button {
      padding: 30px;
      background-color: white;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .drawer-content-wrapper {
    padding-top: 24px;
    padding-right: 11%;
    padding-left: 11%;

    font-size: 14px;

    .size-chart-wrapper {
      .size-chart-name {
        padding-bottom: 18px;
      }
    }
  }
}

@media (max-width: 768px) {
  .size-chart-drawer {
    right: 0;
    width: 100%;
    max-width: 100%;

    transform: translateY(100%);
    transition: transform 0.2s ease;

    &.open {
      transform: translateY(15%);
    }

    .close-button-wrapper {
      right: 0;
      width: 100%;
    }
  }
}
