.footer {
  border-top: 1px solid #e9e9e9;

  .footer-contents-wrapper {
    margin: 0 max(20px, 2.5vw);
    padding: 20px 0;

    .footer-contents {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .footer-text-left {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .footer-contents-right {
        .footer-icons {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    .footer-contents-wrapper {
      .footer-contents {
        flex-direction: column-reverse;

        .footer-contents-right {
          .footer-icons {
            width: 100%;
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}
