.maintenance {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .maintenance-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;

    padding-bottom: 150px;

    .logo-image-wrapper {
      width: 120px;
      margin-bottom: 10px;

      img {
        width: 100%;
      }
    }

    .text {
      font-family: 'HK Grotesk';
      text-align: center;

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 10px;
      }
    }
  }
}
