.mobile-nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;

  .mobile-nav-bar-top-contents {
    width: 100%;
    height: 56px;

    background-color: white;
    border-bottom: 1px solid #e9e9e9;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo-wrapper {
      flex: 0 0 auto;
      padding-left: 20px;

      .nav-bar-home-link {
        text-decoration: none;
        display: flex;

        .banana-pose {
          font-family: 'Tough Cookies';
          font-size: 20px;
          color: black;
          padding-top: 4px;
        }
      }
    }

    .mobile-nav-bar-contents {
      display: flex;
      flex-direction: row;
      padding-right: 20px;

      .nav-bar-icons {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding-top: 3px;

        .nav-bar-icon-wrapper {
          padding-left: 20px;
          height: 17px;
          flex-shrink: 0;
          .nav-bar-icon {
            font-size: 17px;
          }
        }
      }
    }
  }

  .expandable-menu {
    height: calc(100vh - 56px);
    background-color: white;

    display: flex;
    flex-direction: column;

    .expandable-menu-contents {
      padding: 25px 20px 0 20px;
      .expandable-menu-links {
        padding-bottom: 10px;
        .nav-link-wrapper {
          padding: 10px 0;

          .nav-link {
            text-decoration: none;
            font-family: 'HK Grotesk', sans-serif;
            font-size: 14px;
            color: black;
          }
        }
      }

      .currency-selector-wrapper {
        border-top: 1px solid #e9e9e9;
      }
    }
  }
}
