@font-face {
  font-family: 'Tough Cookies';
  src: url('./assets/fonts/ToughCookies-Bold.ttf') format(truetype);
}

@font-face {
  font-family: 'HK Grotesk Bold';
  src: url('./assets/fonts/HKGrotesk-Bold.ttf') format(truetype);
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('./assets/fonts/HKGrotesk-Regular.ttf') format(truetype);
}

@font-face {
  font-family: 'HK Grotesk Light';
  src: url('./assets/fonts/HKGrotesk-Light.ttf') format(truetype);
}

@font-face {
  font-family: 'HK Grotesk Extra Light';
  src: url('./assets/fonts/HKGrotesk-ExtraLight.ttf') format(truetype);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
