.footer-link-wrapper {
  padding-left: 15px;

  .footer-link {
    font-family: 'HK Grotesk', sans-serif;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .footer-link-wrapper {
    padding-left: 0;
    padding-right: 15px;
    .footer-link {
      font-size: 12px;
    }
  }
}
