.shopping-bag {
  font-family: 'HK Grotesk', sans-serif;
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;

  .shopping-bag-container {
    margin: 0 auto;
    max-width: 1400px;
  }
}

@media (max-width: 767px) {
  .shopping-bag {
    .shopping-bag-container {
      margin: 0;
    }
  }
}
